language: scala
dist: trusty
sudo: true
services:
  - docker

scala:
  - 2.11.12
  - 2.12.8

jdk:
  - openjdk8
  - openjdk11
  - openjdk-ea

matrix:
  allow_failures:
    - jdk: openjdk-ea

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt/boot
    - $HOME/.sbt/launchers
    - $HOME/.coursier
    - $HOME/.cache/install-jdk

install:
  - pip install --user codecov

script:
  - |
    if [[ "$TRAVIS_JDK_VERSION" = "openjdk8" && "$TRAVIS_SCALA_VERSION" = 2.12.* ]]; then
      sbt ++$TRAVIS_SCALA_VERSION clean coverage compile test:compile test coverageReport coverageOff && codecov
    else
      sbt ++$TRAVIS_SCALA_VERSION clean compile test:compile test
    fi
  - |
    if [[ "$TRAVIS_JDK_VERSION" = "openjdk8" && $(cat version.sbt) =~ "-SNAPSHOT" ]]; then
      export PGP_SECRET_RING_PATH="$(mktemp -d)/secring.asc"
      echo "${PGP_SECRET}" | base64 --decode > "${PGP_SECRET_RING_PATH}"
      if [ "$TRAVIS_BRANCH" = "master" ]; then
        if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
          sbt ++$TRAVIS_SCALA_VERSION publishSigned
        elif [ "$TRAVIS_SECURE_ENV_VARS" = "true" ]; then
          sbt ++$TRAVIS_SCALA_VERSION publishLocalSigned
        else
          sbt ++$TRAVIS_SCALA_VERSION publishLocal
        fi
      fi
    fi

after_script:
  # See http://www.scala-sbt.org/0.13/docs/Travis-CI-with-sbt.html
  # Tricks to avoid unnecessary cache updates
  - find $HOME/.sbt -name "*.lock" | xargs rm
  - find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
